@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bakh";
  src: url("/fonts/YekanBakh-Regular.woff2");
}
.rmdp-day.rmdp-today span {
  background-color: #28a746a1 !important;
  color: white !important;
}
span.sd {
  color: #28a745 !important;
}
span.sd:hover {
  background-color: #9de4aeb0 !important;
  
}

.rmdp-header-values,
.rmdp-week-day {
  color: #28a745 !important ;
}
.rmdp-arrow {
  border: solid #28a745 !important ;
  border-width: 0 2px 2px 0 !important;
}
.rmdp-arrow-container:hover {
  background-color: #9de4aeb0 !important;
}
.rmdp-range {
  background-color: #9de4aeb0 !important;
}
